In [1]:
import pandas as pd
from collections import Counter

In [2]:
file = pd.read_csv('cnn_data_letter',sep='\t')

In [3]:
file.head()

   class                                            article
0     14  7368 1252069 365865 755561 1044285 129532 1053...
1      3  581131 165432 7368 957317 1197553 570900 33659...
2     12  7368 87936 40494 490286 856005 641588 145611 1...
3     13  299237 760651 299237 887082 159592 556634 7489...
4     12  7368 7368 7368 865510 7368 396966 995243 37685...

In [4]:
Counter(file['class'])

Counter({1: 5375,
         2: 2901,
         3: 8313,
         4: 3824,
         5: 2369,
         6: 6888,
         7: 3038,
         8: 6972,
         9: 7675,
         10: 4963,
         11: 3571,
         12: 5326,
         13: 7907,
         14: 6740,
         15: 7511,
         16: 3220,
         17: 3094,
         18: 7066,
         19: 5524})

In [5]:
file = file.sample(frac=1).reset_index(drop=True)

In [6]:
file.head()

   class                                            article
0      3  42610 598604 856005 682773 177198 991700 35983...
1     13  581131 1030656 7368 956417 547877 501313 76620...
2      9  7368 1209583 331697 1056301 433357 156702 7368...
3     14  266913 893686 1263682 570373 501313 760651 493...
4     16  371412 195356 1178821 212163 292474 1273519 92...

In [7]:
fenge = [0.8,0.1,0.1]

In [8]:
file.iloc[0:int(len(file)*fenge[0]),].to_csv('train_data_letter',index=0,header=0,sep='\t')
file.iloc[int(len(file)*fenge[0]):int(len(file)*(fenge[0]+fenge[1])),].to_csv('val_data_letter',index=0,header=0,sep='\t')
file.iloc[int(len(file)*(fenge[0]+fenge[1])):len(file),].to_csv('test_data_letter',index=0,header=0,sep='\t')

In [9]:
range(int(len(file)*(fenge[0]+fenge[1])),len(file))

range(92049, 102277)

In [12]:
pd.read_csv('val_data_letter',header=None,sep='\t')

        0                                                  1
0       5  1252069 569999 1044285 788037 330242 286936 92...
1       7  195449 1219505 453516 236190 856005 1072243 87...
2      15  134738 459347 1158830 255373 903060 1044285 15...
3      11  581131 1030656 7368 837240 313506 623194 60025...
4      17  1252069 365865 755561 1044285 174103 75959 990...
5       1  1010033 316564 359838 506849 856005 427848 115...
6      12  7368 520285 667064 360394 462208 274897 122364...
7       8  195449 222667 697742 599682 887082 1044285 518...
8       6  837240 663425 1096353 1249392 528799 272718 72...
9       9  7368 1077049 955883 316564 837240 129532 96490...
10      1  1126775 269807 1136931 611112 569999 1219505 1...
11     15  332929 1126775 663773 1063159 760651 856005 19...
12      4  977266 163882 403970 681932 953821 514351 7368...
13      2  966819 59456 84528 376591 206763 6437 354809 3...
14     11  1030656 1044285 1077049 195449 678940 679073 8...
15      1  760651 780230 968221 935428 1077049 195449 955...
16     17  1219589 7368 1120647 266913 62534 1103224 1493...
17      1  523738 857711 466409 1160791 390737 313405 527...
18      6  160113 979583 763491 507306 605972 506849 3598...
19     15  611112 599682 793790 569999 332929 452751 6111...
20     13  1122654 850377 82849 720160 960862 998012 1198...
21     13  7368 1160791 299237 1216909 1111222 879592 736...
22     13  471748 365865 908539 132700 1044285 284663 265...
23      6  881890 581131 1030656 626902 365865 611112 599...
24      3  7368 768900 527571 159592 643423 180386 474675...
25      8  828236 365865 762279 755561 1044285 15318 7606...
26     14  1030656 1226221 360600 964907 704923 796870 45...
27     13  881890 581131 1030656 626254 365865 1160791 29...
28      9  7368 581131 1030656 7368 165432 581131 20547 1...
29     12  474675 195449 1262723 755561 856005 1078941 96...
...    ..                                                ...
10198  17  658824 1269463 23355 1241404 42610 119827 1008...
10199   8  1121849 1209331 1218217 1083356 720160 1033708...
10200  14  1120647 360394 79747 1064525 347139 7368 49028...
10201   4  881890 581131 1030656 626254 1177293 535002 65...
10202  19  968221 570373 730105 266913 1044285 1219589 12...
10203  10  7368 7368 7368 7368 121255 487033 674674 75556...
10204   3  255746 134979 1197553 739323 79747 1220011 110...
10205   3  755561 345037 79747 828765 979583 501313 58606...
10206  10  209907 559442 371412 585998 1044285 129532 837...
10207  11  7368 556634 837240 856005 1122654 501313 76065...
10208  13  494222 1169505 171803 1046218 402386 924004 43...
10209  13  471748 365865 1022535 994103 1044285 17196 746...
10210   3  966819 1107980 569999 1087134 7368 1012955 112...
10211   1  145611 828236 365865 881890 626902 1044285 101...
10212   9  7368 326505 755561 951085 951085 484565 427848...
10213   9  474675 222667 129532 964907 1012955 950150 428...
10214  17  195449 206763 316564 856005 1142636 760890 100...
10215   2  611112 599682 881890 581131 569999 540186 6111...
10216  13  1238054 87936 7368 690683 55736 174103 1022665...
10217   9  1126775 486229 921820 1090927 1177293 798177 1...
10218   3  881890 581131 1030656 626254 365865 611112 599...
10219  14  669302 13 788037 4889 92251 968221 797945 1063...
10220   4  837240 1061194 259415 1077650 1177293 798177 6...
10221  18  1209583 961786 1239299 258491 856005 843217 53...
10222   2  669302 798177 495296 75959 1230324 534703 1771...
10223   7  622083 529711 828236 1269463 1160791 299237 42...
10224  19  7368 1209583 961786 535311 663773 753262 7368 ...
10225  12  7368 755561 345037 593309 1016350 171803 12200...
10226  16  1219589 1144083 206763 26872 433802 359838 968...
10227   1  7368 1242176 41345 146447 163882 1016810 95641...

[10228 rows x 2 columns]

In [13]:
pd.read_csv('train_data_letter',header=None,sep='\t')

        0                                                  1
0       3  42610 598604 856005 682773 177198 991700 35983...
1      13  581131 1030656 7368 956417 547877 501313 76620...
2       9  7368 1209583 331697 1056301 433357 156702 7368...
3      14  266913 893686 1263682 570373 501313 760651 493...
4      16  371412 195356 1178821 212163 292474 1273519 92...
5      18  202894 1186178 490538 1044285 359838 145611 11...
6      15  953821 887082 1274033 258493 1077049 955883 12...
7       9  1125442 1242140 1017514 758892 100053 1044285 ...
8      11  1169891 194491 1044285 815704 163882 493242 16...
9      18  94045 616873 485621 1033204 1105455 1087134 12...
10     13  7368 755561 345037 7368 331697 7368 631021 698...
11     14  887082 190578 42898 1223861 1044285 1274974 76...
12      9  1010033 760651 641588 324149 964907 757232 598...
13     18  750008 901380 1121849 316564 995243 439580 124...
14     11  401982 709587 474675 195449 967671 487625 5594...
15     15  7368 42610 143738 316300 856005 1136007 964907...
16     18  1209583 961786 1073727 980451 686051 547877 65...
17     13  7368 611112 599682 1231714 569999 332929 45275...
18      9  7368 204426 964907 968221 1044285 527957 76065...
19     15  861744 115995 928594 10120 79747 10120 433802 ...
20      3  7368 1030656 599682 494222 458197 768900 97557...
21     19  1010033 316564 427848 123904 856005 359838 204...
22      3  768900 585212 953821 726519 1234539 177571 107...
23      5  837240 881890 581131 1030656 626254 1136931 11...
24      3  1120647 266913 389346 214087 1177293 663773 65...
25     10  7368 849828 550791 42898 1223861 611112 599682...
26     12  7368 106357 140141 849828 550791 1241890 49085...
27     16  966819 15602 1103224 106357 1124351 973420 736...
28      9  7368 979583 1209583 755561 345037 106357 91976...
29     10  143048 1077049 1234539 643843 1229942 726519 1...
...    ..                                                ...
81791  18  7368 471443 177198 453516 534703 555819 107765...
81792  15  106357 140141 995243 1088009 79747 7368 145611...
81793   6  463464 318722 463464 318722 1240468 951085 107...
81794   4  7368 7368 7368 7368 7368 611112 599682 1030656...
81795  17  1176599 110562 359838 821297 1016718 316564 95...
81796   5  569999 1261099 670052 466409 902663 1094565 11...
81797   1  942897 172207 359838 968221 647476 1209583 459...
81798   9  7368 500043 708570 1209331 79747 1234539 66342...
81799  11  755561 345037 79747 991653 226739 7368 1089476...
81800   9  1190144 322397 705000 1022665 1007781 371412 8...
81801   8  611112 599682 626254 569999 626254 42898 10442...
81802  12  7368 828236 1269463 212163 763491 587351 76890...
81803  13  837240 881890 581131 1030656 626902 826453 881...
81804   3  7368 1177293 881890 1262723 7368 768900 309595...
81805  18  700959 763491 587351 42610 355066 669302 12521...
81806  14  337598 266913 968221 1121849 371412 935827 151...
81807   8  968221 41890 15602 1276540 1205281 288249 1056...
81808   1  508473 1252069 41345 547877 651973 837240 4717...
81809  17  55736 297797 361264 720055 20105 1044285 99170...
81810   7  7368 7368 7368 7368 7368 979583 599682 1234137...
81811  18  587003 1242176 518289 125310 165769 159592 760...
81812  17  979583 1209583 414420 641588 79747 4665 127351...
81813  12  481583 140141 493242 420804 145611 433802 6107...
81814  16  494222 647476 686990 849828 550791 611112 5996...
81815   6  1252069 569999 1044285 93932 360394 410340 123...
81816   3  928395 639060 138639 292474 30627 998012 13863...
81817   8  817636 1266092 762279 246187 1030656 699820 12...
81818  15  963451 105337 1232729 724386 7368 145611 49324...
81819  14  7368 901380 1158830 856005 968221 1121849 1044...
81820  19  7368 21879 348926 426236 757653 7368 7368 9940...

[81821 rows x 2 columns]