In [1]:
import pandas as pd

In [3]:
file = pd.read_csv('train_set.csv')
del file['id']
del file['article']

In [4]:
file = file.loc[:,['class','word_seg']]
file.to_csv('train_set_cnn',index=0,sep='\t',header=0)

In [5]:
file.head()

   class                                           word_seg
0     14  816903 597526 520477 1179558 1033823 758724 63...
1      3  90540 816903 441039 816903 569138 816903 10343...
2     12  816903 1012629 957974 1033823 328210 947200 65...
3     13  563568 1239563 680125 780219 782805 1033823 19...
4     12  816903 816903 816903 139132 816903 312320 1103...