In [1]:
import pandas as pd
from collections import Counter

In [2]:
file = pd.read_csv('data/cnn_data',sep='\t')

In [3]:
file.head()

   class                                           word_seg
0     14  816903 597526 520477 1179558 1033823 758724 63...
1      3  90540 816903 441039 816903 569138 816903 10343...
2     12  816903 1012629 957974 1033823 328210 947200 65...
3     13  563568 1239563 680125 780219 782805 1033823 19...
4     12  816903 816903 816903 139132 816903 312320 1103...

In [4]:
Counter(file['class'])

Counter({1: 5375,
         2: 2901,
         3: 8313,
         4: 3824,
         5: 2369,
         6: 6888,
         7: 3038,
         8: 6972,
         9: 7675,
         10: 4963,
         11: 3571,
         12: 5326,
         13: 7907,
         14: 6740,
         15: 7511,
         16: 3220,
         17: 3094,
         18: 7066,
         19: 5524})

In [5]:
file = file.sample(frac=1).reset_index(drop=True)

In [6]:
file.head()

   class                                           word_seg
0     11  1182576 237890 699681 57511 425052 14085 63948...
1     12  362928 404543 447981 749102 520477 85840 30780...
2      5  589226 148697 1049076 1259305 520477 1275770 9...
3     14  403305 53300 589909 520477 460600 424161 94104...
4     17  1239978 1239978 778271 686789 816903 967805 38...

In [7]:
fenge = [0.8,0.1,0.1]

In [8]:
file.iloc[0:int(len(file)*fenge[0]),].to_csv('data/train_data',index=0,header=0,sep='\t')
file.iloc[int(len(file)*fenge[0]):int(len(file)*(fenge[0]+fenge[1])),].to_csv('data/val_data',index=0,header=0,sep='\t')
file.iloc[int(len(file)*(fenge[0]+fenge[1])):len(file),].to_csv('data/test_data',index=0,header=0,sep='\t')

In [9]:
range(int(len(file)*(fenge[0]+fenge[1])),len(file))

range(92049, 102277)

In [10]:
pd.read_csv('data/val_data',header=None)

                                                       0
0      19\t816903 192454 1033823 826538 520477 118395...
1      19\t278435 520477 886879 1033823 72103 520477 ...
2      3\t718274 1033823 1101470 95649 808039 188898 ...
3      18\t505396 1085646 763308 275927 520477 272665...
4      18\t816903 54111 798270 1033823 700444 1019141...
5      10\t1201032 291779 834740 572782 941047 853602...
6      15\t363388 943956 716616 35621 1144059 441513 ...
7      2\t816903 591689 816903 1171681 1253787 117842...
8      7\t816903 403305 454003 834740 1022446 1253050...
9      9\t816903 989362 816903 81391 1226448 81703 75...
10     19\t816903 830060 456154 665460 487337 844647 ...
11     4\t5800 345349 816903 689410 816903 979335 108...
12     16\t769051 869711 1226448 572782 780063 457828...
13     7\t139132 959841 203284 929897 479552 572782 1...
14     14\t669476 1000483 834740 133940 816903 285122...
15     13\t426716 816903 693588 1116445 341087 103382...
16     1\t701424 1033823 944337 944337 663669 1423 54...
17     15\t174938 716616 35621 744480 755521 460600 5...
18     3\t572782 281403 323159 1049092 520477 1099927...
19     18\t768219 572782 366501 323159 520477 695445 ...
20     7\t881054 541144 701424 794592 995362 816903 7...
21     13\t609617 1191387 784594 1267351 1225309 1267...
22     18\t287730 460600 941047 1019751 520767 599826...
23     19\t235517 490535 125980 1016666 553856 102711...
24     14\t539755 460600 1134165 138140 265771 82616 ...
25     17\t936318 816903 572782 586983 350771 323159 ...
26     9\t54111 598948 1253787 477703 426434 1033823 ...
27     15\t816903 733085 460600 527264 192454 1033823...
28     6\t386754 997278 1049092 509731 1025214 121668...
29     10\t816903 816903 31046 655201 1033823 325467 ...
...                                                  ...
10198  13\t909264 404528 793858 943319 602564 1033823...
10199  18\t54111 941047 766772 587594 228014 761307 1...
10200  8\t247650 309047 1103770 997845 61103 1033823 ...
10201  9\t816903 182481 524864 460600 855325 72103 74...
10202  9\t816903 339279 290352 869618 410689 1033823 ...
10203  17\t816903 816903 816903 1025743 33731 990423 ...
10204  1\t473420 340401 966562 520477 999918 718788 6...
10205  3\t333623 816903 554765 507248 311226 816903 3...
10206  18\t572782 411707 1230052 515564 323159 218198...
10207  19\t816903 1025743 676949 364656 460600 72103 ...
10208  10\t57231 796260 391494 175540 520477 272665 7...
10209  9\t936468 930754 427992 366191 829191 271889 5...
10210  15\t426716 117367 219169 158513 816903 27315 1...
10211  18\t609812 528294 520477 527438 1033823 623874...
10212  13\t769051 816903 1021911 228014 986650 876555...
10213  4\t816903 75800 837166 1259944 686860 340401 9...
10214  12\t816903 585102 1275770 551439 638682 768219...
10215  10\t203284 816903 282245 769051 1226448 517469...
10216  8\t318911 520477 1065119 748197 834740 1040126...
10217  16\t54111 673124 1201180 1033823 18391 885680 ...
10218  6\t426716 816903 816903 816903 816903 429977 1...
10219  14\t1000015 520477 1118940 870828 209020 54111...
10220  6\t344042 1033823 499112 1057544 585102 109734...
10221  9\t392505 600200 203284 478989 1033823 686820 ...
10222  9\t829191 413137 1163183 766772 951918 520477 ...
10223  19\t1218708 507321 929897 479552 1226448 19003...
10224  1\t816903 521449 54111 418411 673550 526298 10...
10225  14\t915090 529085 254069 1033823 727561 122644...
10226  1\t661396 673915 816903 816903 386754 553856 3...
10227  5\t60716 665635 520477 796844 460600 287730 11...

[10228 rows x 1 columns]

In [11]:
pd.read_csv('data/train_data',header=None)

                                                       0
0      11\t1182576 237890 699681 57511 425052 14085 6...
1      12\t362928 404543 447981 749102 520477 85840 3...
2      5\t589226 148697 1049076 1259305 520477 127577...
3      14\t403305 53300 589909 520477 460600 424161 9...
4      17\t1239978 1239978 778271 686789 816903 96780...
5      2\t246733 607440 156850 101439 455043 252414 1...
6      13\t1000015 520477 909264 6218 73703 109716 92...
7      1\t769051 816903 1021911 816903 1029497 694135...
8      19\t816903 77544 1226448 249952 520477 1275770...
9      12\t1000015 520477 1236338 1207796 1111194 520...
10     16\t953458 1111619 876555 598647 816903 206969...
11     14\t414956 1103771 458209 520477 1098737 46060...
12     8\t1015482 876555 598647 816903 3171 1071452 3...
13     8\t816903 266784 857530 766772 563598 57231 17...
14     12\t876555 549572 242461 181587 1071452 545370...
15     13\t816903 44976 1226448 648211 1102102 669476...
16     3\t712651 1211274 596353 132419 84718 1078073 ...
17     3\t816903 449577 816903 625639 460600 681139 3...
18     3\t712337 577704 816903 816903 262022 325497 1...
19     3\t816903 816903 816903 747063 467168 920327 1...
20     11\t655939 907296 325497 520477 135326 903607 ...
21     4\t340401 966562 1257015 599826 520477 1025743...
22     11\t1245640 520477 679512 477703 624018 274787...
23     7\t816903 703339 60716 192867 1068641 520477 9...
24     2\t50182 274418 290288 975270 488603 616276 52...
25     8\t134690 818330 332554 825345 1237541 318929 ...
26     5\t816903 386754 553856 340401 966562 102711 5...
27     4\t581424 563776 1033823 61867 956848 934161 5...
28     14\t346935 616518 816903 426716 1071452 115104...
29     3\t774778 834740 520477 19054 425328 282379 83...
...                                                  ...
81791  8\t816903 816903 715598 96875 520477 422098 15...
81792  17\t403305 454003 834740 915090 597031 1033823...
81793  8\t816903 1195695 816903 820657 816903 426716 ...
81794  16\t54111 309047 1073840 587327 529018 479860 ...
81795  13\t816903 980337 1033823 233929 520477 816903...
81796  8\t435966 105678 816903 340401 966562 340401 5...
81797  9\t816903 1064001 264512 117966 816903 662620 ...
81798  2\t132364 545700 1174272 361815 816903 362928 ...
81799  8\t729570 520355 599826 818341 1025743 386754 ...
81800  11\t426716 1115586 25678 54111 645357 1033823 ...
81801  1\t816903 318911 766772 912033 1276143 1185728...
81802  6\t543780 939470 424658 520477 275927 61530 76...
81803  3\t282245 536257 507321 1259944 1094593 724092...
81804  3\t318193 569782 178725 947200 816903 569782 1...
81805  13\t816903 41553 816903 1113816 559069 1172271...
81806  18\t1025743 1257665 990423 460600 1080587 1230...
81807  6\t396275 262022 1041019 834740 520477 415551 ...
81808  6\t363388 1267904 440798 647430 1159370 766772...
81809  14\t816903 889015 1204435 900675 1226448 81889...
81810  15\t31046 766772 912348 617472 1033823 733085 ...
81811  9\t911823 611601 1224594 153705 816903 1216280...
81812  6\t816903 816903 816903 1068182 1121767 766772...
81813  11\t1017589 773139 336098 190292 448148 520477...
81814  15\t600200 1130368 816903 132697 54111 1181092...
81815  7\t1218708 507321 144512 816903 422300 792991 ...
81816  1\t849769 117966 218413 1033823 723848 1025743...
81817  10\t41607 178725 490774 422098 479062 616518 9...
81818  6\t426307 1242180 1208415 304852 460600 138140...
81819  14\t303845 585102 1080587 12937 668425 496458 ...
81820  12\t1097342 652252 520477 1090480 1012629 1616...

[81821 rows x 1 columns]